@import "libs/vars";
@import "libs/functions";

body {
  width: 90%;
  margin: auto;
  padding: 0;
  section {
    .img-fit {
      width: 100%;
      object-fit: cover;
      height: 15em;
    }
    h2 {
      color: color(navy-blue);
    }
    span {
      color: color(light-blue);
    }
    .green {
      color: color(fresh-green);
    }
    li {
      font-size: 80%;
      margin-top: 1%;
    }
  }
}

#diagram {
  display: flex;
  align-items: center;
  padding: 20px 0;
  img {
    display: block;
    margin: auto;
    width: 40%;
  }
}