@import "libs/vars";
@import "libs/functions";

body {
  section {
    .img-fit {
      width: 100%;
      object-fit: cover;
      height: 15em;
    }
    header {
      padding: 1%;
    }
    h2 {
      color: color(navy-blue);
    }
    span {
      color: color(light-blue);
    }
    .green {
      color: color(fresh-green);
    }
    .alternate {
      padding: 1%;
    }
    .alternate:nth-child(even) {
      background-color: color(light-grey);
    }
    li {
      font-size: 80%;
      margin-top: 1%;
    }
  }
}