@import "libs/vars";
@import "libs/functions";
@import "../css/fontello.css";

/* Colour scheme
  text(=black)
  white
  light-blue
  navy-blue
  light-grey
*/
/* Icon classes
  icon-cloud (cloud with fill)
  icon-cloud-1 (cloud without fill)
  icon-facebook (facebook f)
  icon-twitter (bird)
  icon-menu (three lines)
*/
/* Media queries if need be
  s - small devices
  s2 - Small tablets
  m - Medium devices like tablets
  l - Laptops and smaller desktops
  xl - Desktops
  @media #{$s} {
    body {
      background-color:red;
    }
  }
*/
@font-face {
  font-family: Icons, sans-serif;
  src: url("../font/fontello.woff");
}
body, input, select, textarea {
  color: color('text');
  font-size: 1.3em;
}

body {
<<<<<<< HEAD
  /*width: 80%;*/
  margin: auto;
  font-family: 'Barlow Condensed', sans-serif;
}
=======
  .page-wrapper {
    width: 80%;
    margin: auto;
    font-family: 'Barlow Condensed', sans-serif;
    nav {
      position: fixed;
      top: 0;
      width: 80%;
      background-color: white;
      z-index: 2;
      a {
        color: color(text);
      }
    }
    .logo {
      font-size: 150%;
      color: color(text);
    }
    hr {
      border-color: color(light-blue);
    }
>>>>>>> ef4e62e15ee732c05ba16aee775a6790e2f05f82

    h1, h2, h3 {
      font-weight: bold;
      text-transform: uppercase;
    }

    #{$links} {
      text-decoration: none;
    }

    footer {
      font-size: 0.7em;
      width: 50%;
      margin: auto;
    }

    section {
      i {
        font-style: italic;
      }
    }
  }
